fastapi
uvicorn
python-multipart
torch
torchvision
torchaudio
soundfile
numpy
pydantic
fastapi
uvicorn
python-multipart

torch
torchaudio
torchvision

numpy
scipy
librosa
soundfile

scikit-learn
tqdm

python-dotenv